/* Register.css */
.register-page {
    background: url('../assets/banner.jpg') no-repeat center center fixed; /* Nền ảnh */
    background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ màn hình */
    height: 100vh; /* Chiều cao 100% của màn hình */
}

.register-form {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2); /* Nền trắng với độ trong suốt */
    color: white;
    border-radius: 10px; /* Bo tròn góc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ cho form */
    width: 100%; /* Độ rộng 100% */
    max-width: 400px; /* Độ rộng tối đa của form */
}